h1 {
    text-align: center;
    color: #e63946;
}

/* Clase para hacer SELECTORES DESCENDIENTES */
div.contenedor {
    width: 80%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
}
div.contenedor.descendiente p {
    background-color: #fdffb6;
}

/* Clase para hacer SELECTORES de tipo HIJO */
div.contenedor.hijo > p {
    background-color: #ffc6ff;
}

/* Clase para hacer SELECTORES de tipo ADYACENTE */
div.contenedor.adyacente + p {
    background-color: #caffbf;
}

/* Clase para hacer SELECTORES de tipo HERMANO o SIBLING */
div.contenedor.hermano ~ p {
    background-color: #9bf6ff;
}