h1 {
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    /* Crear SOMBRAS sobre el texto */
    text-shadow: 3px 3px 3px #ced4da;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-decoration: overline underline;
}

.caja {
    padding: 15px;
    margin: auto;
    width: 70%;
    background-color: #219ebc;
    border-radius: 5px;
    color: white;
}
.texto {
    text-align: justify;
    /* direction: rtl; */
    text-indent: 30px;
    line-height: 1.5;
    white-space: normal;
    text-shadow: 1px 1px 2px #ced4da;
}